@tailwind base;
@tailwind components;
@font-face {
    font-family: 'Gilory';
    src: url('./Static/Fonts/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'GiloryHeavy';
    src: url('./Static/Fonts/Gilroy-Heavy.ttf');
    
    
}
@font-face {
    font-family: "Giloryblack";
    src: url('./Static/Fonts/Gilroy-Black.ttf');
}
@font-face {
    font-family: 'GilorysemiBold';
    src: url('./Static/Fonts/Gilroy-SemiBold.ttf');
}

@font-face {
    font-family: 'Giloryextrabold';
    src: url('./Static/Fonts/Gilroy-ExtraBold.ttf');
}

@font-face {
    font-family: 'Gilorymedium';
    src: url('./Static/Fonts/Gilroy-Medium.ttf');
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('./Static/Fonts/Fontspring-DEMO-proximanova-bold.otf');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('./Static/Fonts/Fontspring-DEMO-proximanova-regular.otf');
}


@tailwind utilities;

.slick-slide > div{
    margin: 25px;
    
}